<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat code coverage">
				<Configuration>
					<Format>cobertura</Format>
					<Include>
						[Beter.TestingTools.Generator*]*
					</Include>
					<Exclude>
						<File>Beter.TestingTools.Generator.Host*</File>
						<File>Beter.TestingTools.Generator.Contracts*</File>
						<File>Beter.TestingTools.Generator.Application.Contracts*</File>
						<File>Beter.TestingTools.Generator.Application.Services.Playbacks*</File>
					</Exclude>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>